@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75,200..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Light Mode */
body {
  display: flex;
  height: 100vh; 
  margin: 25vh;
  flex-direction: column;    /* stack items top-to-bottom */
  background-color: #f2ecce;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
}

main {
  height: 90vh;
}

#h {
  height: 50vh;
}

#a {
  background-color: rgba(238, 237, 237, 0.762);
  box-shadow: 1px 1px 10px #1d1d2048;
  border-radius: 20px;
}

  dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: 12px;
    padding: 2rem 2.5rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    background: var(--dlg-bg, rgba(238, 237, 237, 0.762));
    color: var(--dlg-fg, #111);
    width: min(90%, 400px);
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background: #cbcbb2;
    color: #1d1d20;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease background;
    font-family: 'Bricolage Grotesque', sans-serif;
  }

a {
  text-decoration-line: underline;
}

  button:hover {
    background: #cdd9db;
  }
