@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75,200..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Light Mode */
body {
  margin: 0;                 /* remove default margin */
  flex-direction: column;    /* stack items top-to-bottom */
  background-color: #f2ecce;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "wdth" 87.5;
}

main {
  height: 90vh;
}

#h {
  height: 50vh;
}

#a {
  background-color: rgba(238, 237, 237, 0.762);
  box-shadow: 1px 1px 10px #1d1d2048;
  border-radius: 20px;
}

  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background: #cbcbb2;
    color: #1d1d20;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease background;
    font-family: 'Bricolage Grotesque', sans-serif;
  }

  button:hover {
    background: #cdd9db;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: #E5DFC4;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  .chat-feed {
    height: 85vh;
    overflow-y: auto;
    padding: 1rem;
    background: blur;
    outline-style: dashed;
    outline-color: #cfccbeab;
  }
  .chat-message {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  .chat-input {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .chat-input input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  .chat-input button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background: #cbcbb2;
    font-weight: bold;
    cursor: pointer;
  }

  a{
    text-decoration-line: underline;
  }
